* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 100%;
}

.header {
  display: flex;
  padding: 16px;
  justify-content: flex-end;
}

ul {
  display: flex;
  gap: 24px;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #555;
}

a:hover {
  text-decoration: underline;
  color: #222;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 24px;
}

.container-banner {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  min-width: 350px;
}

.input {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  min-width: 350px;
  gap: 8px;
}

.input.input-avanzado {
  gap: 16px;
}

input , button{
  border: 1px solid #ddd;
  border-radius: 24px;
  padding: 16px 24px;
  width: 100%;
  box-shadow: 0px 0 5px rgba(0, 0, 0, 0.2)
}

.boton {
  flex: 0;
  border-radius: 40%;
  padding: 16px 16px;
  color: #666;
}

.boton.boton-avanzado{
  align-self: center;
  height: 60px;
}

.buscador {
  flex: 1;
}

.tittle {
  color: #666;
  font-weight: bold;
}

.avanzado{
  box-sizing: border-box;
  margin: 0 0 16px 0;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  background-color: #eee;
}

.autor {
  font-weight: 500;
}
.icon {
  font-size: 12px;
  font-weight: 900;
}









