* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 100%;
}

.header {
  display: flex;
  padding: 16px;
  justify-content: flex-end;
}

ul {
  display: flex;
  gap: 24px;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #555;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 24px;
}

.container-banner {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  min-width: 350px;
}

.input {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  min-width: 350px;
  gap: 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 24px;
  padding: 16px 24px;
  width: 100%;
}

.boton {
  flex: 0;
  border: 1px solid #ddd;
  border-radius: 40%;
  padding: 16px 16px;
  color: #666;
}

.buscador {
  flex: 1;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  background-color: #eee;
}

.autor {
  font-weight: 500;
}
.icon {
  font-size: 12px;
  font-weight: 900;
}









